.eye-button {
    background-color: transparent;
    border: none;
}

/* Стили для поля пароля */
/*input[type="password"] {*/
/*    border: 1px solid #ced4da; !* Цвет рамки поля *!*/
/*}*/

/*!* Стили для невалидного поля пароля *!*/
/*.invalid {*/
/*    border: 1px solid #dc3545; !* Красная рамка для невалидного поля *!*/
/*}*/

/*!* Стили для валидного поля пароля *!*/
/*input[type="password"]:valid {*/
/*    border: 1px solid #28a745; !* Зеленая рамка для валидного поля *!*/
/*}*/